@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .overflow-hidden-scrollable {
    -ms-overflow-style: none;
  }

  .overflow-hidden-scrollable::-webkit-scrollbar {
    display: none;
  }
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 0px 0px rgba(59, 130, 246, 0.0); /* Blue tone, adjust opacity */
  }
  50% {
    box-shadow: 0 0 8px 3px rgba(59, 130, 246, 0.20); /* Glow effect */
  }
}

.chat-input-glow {
  animation: pulse-glow 2.5s infinite ease-in-out;
}
